.webixappstart {
	opacity: 0;
}
.webixapp {
	transition: opacity 500ms;
	opacity: 1;
}

/*data loading status*/
.status_good,
.status_error,
.status_saving {
	text-align: center;
	margin-left: -12px;
}
.status_error {
	color: red;
}
.status_good {
	color: green;
}

.app_header.webix_header {
	text-align: center;
}
.app_layout.webix_layout_clean {
	background: #ebedf0;
}
.app_start .webix_template {
	padding: 12px 12px;
}
.app_menu .webix_icon {
	font-size: 20px;
	vertical-align: middle;
}

.users-list--flex {
	display: flex;
	justify-content: space-between;
	align-content: center;
}
